@use "../variables";

header {
  background: #333;
  padding: 0 variables.$baseline;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  div {
    display: flex;

    p {
      margin-left: variables.$baseline * 3;
    }
  }

  p,
  h1 {
    line-height: 33px;
    margin-bottom: 0;
    font-size: 1.6rem;
    color: white;
    .button-link,
    a {
      color: #fff;
      text-decoration: none;
      cursor: pointer;
      &:hover {
        color: variables.$color-neutral-200;
      }
    }
  }

  p.back-track-list {
    @media screen and (max-width: 600px) {
      display: none;
    }
  }

  .header-userInfo {
    @media screen and (max-width: variables.$screen-small) {
      font-size: 1.2rem;

      button {
        font-size: 1.2rem;
      }
    }
  }
}
