.sessions {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: $baseline;
  margin-top: $baseline * 0.5
}

.session-creator {

  form {
    display: flex;
    flex-direction: row;
    align-items: center;

    label {
      margin-bottom: 0;
      margin-right: $baseline * 0.5;
      line-height: 40px;
    }

    input {
      margin-top: 0;
    }

    input[type="submit"] {
      margin-left: $baseline * 0.5;
      width: auto;
    }
  }
  p {
    margin-bottom: 0;
    line-height: 40px;
  }
}


.session-selection {
  padding-right: $baseline;
  border-right: 1px solid tomato;
  margin-right: $baseline;
  font-size: 1.6rem;
  display: flex;
  align-items: baseline;

  select {
    display: block;
    border-radius: 2px;
    margin-top: $baseline * 0.25;
    border: 1px solid #ccc;
    height: 40px;
    font-size: 1.6rem;
    width: 100%;
  }

  label {
    margin-right: auto;
    width: 70%;
  }

  .button-icon {
    font-size: 1.8rem;
  }
}

.new-session {
  label {
    margin-bottom: $baseline * 0.5;
  }

  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

    input[type="submit"] {
      width: auto;
    }
  }

  .new-session-p {
    font-size: 1.4rem;
    color: $colour-gray-700;
  }
}
