.listCircuits {
  li {
    background: $core-color-grey-100;
    border-radius: 2px;
    margin-bottom: $baseline * 0.5;
    padding: $baseline * 0.5;
    transition: 0.2s ease all;

    &:hover {
      background: $core-color-grey-300;
      cursor: pointer;

      a {
        color: #333;
      }
    }

    a {
      color: #333;
      text-decoration: none;
      display: block;
    }
  }
}
