.homepage {
  margin: $baseline auto;

  @media screen and (max-width: $screen-medium) {
    flex-direction: column;
  }

  .country-list {
    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width: $screen-medium) {
      display: block;
    }

    div {
      // width: 300px;
      margin-right: $baseline;
    }
  }

  main {
    ul {
      width: 100%;
      min-width: 320px;

      @media screen and (max-width: $screen-medium) {
        min-width: 0;
      }
    }
  }

  aside {
    background: $color-neutral-100;
    margin-top: $baseline * 3;
    margin-left: -$baseline;
    margin-right: -$baseline;
    margin-bottom: -$baseline;
    border-top: 2px solid $color-neutral-300;
    padding: $baseline;
  }
}

.listCircuits {
  li {
    border: 1px solid $color-primary-400;
    border-radius: 4px;
    margin-bottom: $baseline * 0.5;
    transition: 0.2s ease all;

    @media screen and (max-width: $screen-medium) {
      width: 100%;
    }

    &:hover {
      background: $color-primary-100;
      cursor: pointer;

      a {
        color: $color-primary-600;
      }
    }

    a {
      display: block;
      padding: $baseline $baseline * 0.75 $baseline * 0.75;
      color: $colour-base;
      text-decoration: none;
    }
  }
}
