@use "../variables";

.homepage {
  margin: variables.$baseline auto;

  @media screen and (max-width: variables.$screen-medium) {
    flex-direction: column;
  }

  .country-list {
    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width: variables.$screen-medium) {
      display: block;
    }

    div {
      // width: 300px;
      margin-right: variables.$baseline;
    }
  }

  main {
    ul {
      width: 100%;
      min-width: 320px;

      @media screen and (max-width: variables.$screen-medium) {
        min-width: 0;
      }
    }
  }

  aside {
    background: variables.$color-neutral-100;
    margin-top: variables.$baseline * 3;
    margin-left: -(variables.$baseline);
    margin-right: -(variables.$baseline);
    margin-bottom: -(variables.$baseline);
    border-top: 2px solid variables.$color-neutral-300;
    padding: variables.$baseline;
  }
}

.listCircuits {
  li {
    border: 1px solid variables.$color-primary-400;
    border-radius: 4px;
    margin-bottom: variables.$baseline * 0.5;
    transition: 0.2s ease all;

    @media screen and (max-width: variables.$screen-medium) {
      width: 100%;
    }

    &:hover {
      background: variables.$color-primary-100;
      cursor: pointer;

      a {
        color: variables.$color-primary-600;
      }
    }

    a {
      display: block;
      padding: variables.$baseline variables.$baseline * 0.75 variables.$baseline * 0.75;
      color: variables.$colour-base;
      text-decoration: none;
    }
  }
}
