button {
  min-width: 120px;
  height: 40px;
  font-size: 1.4rem;
  margin-bottom: $baseline;
  cursor: pointer;
  border-radius: 3px;
  border: 3px solid #4A90E2;
  background: #fff;
  color: #4A90E2;
  transition: 0.2s ease all;
  font-weight: 500;

  a {
    color: #4A90E2;
    text-decoration: none;
    padding-left: $baseline;
    padding-right: $baseline;
  }

  &:hover {
    background: lighten(#4A90E2, 35);
  }

  &.button-link {
    // display: inline-block;
    width: auto;
    min-width: auto;
    height: auto;
    margin-bottom: 0;
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
  }
}

button.button-signup,
input[type="submit"].button-submit {
  min-width: 120px;
  width: auto;
  height: 40px;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: $baseline;
  padding-left: $baseline;
  padding-right: $baseline;
  cursor: pointer;
  border-radius: 3px;
  border:none;
  background: #4A90E2;
  color: #fff;
  transition: 0.2s ease all;

  a {
    color: white;
    text-decoration: none;
  }

  &:hover {
    background: darken(#4A90E2, 10);
  }
}

.button-icon {
  width: auto;
  height: auto;
  border: none;
  background: none;
  min-width: 0;
  margin: 0;

  &:hover {
    color: black;
    background: none;
  }
}
