label {
  display: block;
  font-size: 1.6rem;
  margin-bottom: $baseline*2;

}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="submit"] {
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 40px;
  width: 250px;
  padding-left: $baseline/2;
  margin-top: $baseline/2;
  display: block;
  font-size: 1.6rem;
}


.error-handling {
  margin-top: $baseline;
  color: tomato;
}


.new-observation,
.new-corner {

  label {
    margin-bottom: $baseline/4;
  }
  textarea {
    width: 100%;
    font-family: $fontstack;
    font-size: 1.4rem;
    padding: $baseline/4;
    background: #F7F7F7;
    border-radius: 2px;
  }

  input[type="text"] {
    background: #F7F7F7;
    border-radius: 2px;
  }

  .form-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E9E9E9;
    padding-bottom: $baseline;
    margin-bottom: $baseline*2;
  }
}

.signup-form {
  max-width: 400px;
  width: 96%;
  margin: $baseline*4 auto;
  background: $colour-gray-100;
  padding: $baseline*2;
  border-radius: 4px;
}
