label {
  display: block;
  font-size: 1.6rem;
  margin-bottom: $baseline*2;

}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="submit"] {
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 40px;
  width: 250px;
  padding-left: $baseline/2;
  margin-top: $baseline/2;
  display: block;
  font-size: 1.6rem;
}


.error-handling {
  margin-top: $baseline;
  color: tomato;
}
