header {
  background: #333;
  padding: 0 $baseline;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  p {
    line-height: 33px;
    margin-bottom: 0;
    color: white;
    .button-link {
      color: #fff;
      text-decoration: none;
      cursor: pointer;
    }
  }
}
