// LAYOUT

.wrapper {
  padding: $baseline;
}

.not-loggged-in {
  // display: flex;
  // flex-direction: row;

  div {
    margin-bottom: $baseline*3;
  }

  .login-link {
    border-top: 1px solid #ccc;
    padding-top: $baseline;
  }

  a {
    cursor: pointer;
  }
}
