//
// .track {
//   max-height: 90vh;
//
//   & > div {
//     position: inherit !important;
//   }
//   .container {
//     margin: 0 auto;
//   }
// }

// .track-summary {
//   display: grid;
//   grid-template-columns: 0.9fr 1.1fr;
//
//   @media screen and (max-width: 800px) {
//     grid-template-columns: 1fr;
//   }
//
//   h1 {
//     // margin-left: 94px;
//   }
// }

.corner-areas {
  display: flex;
  flex-direction: row;
  padding-left: $baseline/2;
  margin: $baseline*2 0 $baseline;

  li {
    width: 146px;
    margin-right: $baseline*2;
    font-size: 1.2rem;
    background: #ddd;
    line-height: 24px;
    padding: 4px 0 4px $baseline/2;
    border-bottom: 1px solid #333;
    text-align: center;
    font-weight: 700;

    &:last-child {
      margin-right: 0;
    }
  }
}

.track-turn-individual {
  div {
    display: flex;
    flex-direction: row;

    p {
      background: #333;
      color: white;
      font-size: 2rem;
      line-height: 26px;
      width: 84px;
      text-align: center;
      display: inline-block;
      margin-right: $baseline;
      margin-left: -$baseline;
      margin-bottom: 0;

      span {
        display: block;
        font-size: 1rem;
        line-height: 1.2;
      }
    }
    ul {
      display: flex;
      flex-direction: row;

      li {
        margin-right: $baseline*1.5;

        &:last-child {
          margin-right: 0;
        }

        span {
          width: 100%;
        }

        button {
          width: 44px;
          min-width: auto;
          margin-left: $baseline/2;
          line-height: 33px;
          font-size: 1.6rem;
          cursor: pointer;
          transition: 0.3s all ease;
          border-radius: 2px;

          &:hover {
            background: tomato;
            color: #fff;
          }

          &.selected {
            background: tomato;
            color: #fff;
          }
        }
      }
    }
  }

  .track-turn-notes {
    margin: 0 0 $baseline*2 $baseline/2;

    label {
      font-weight: bold;
      color: #ccc;
    }

    textarea {
      display: block;
      border: none;
      border-bottom: 1px solid #333;
      font-size: 1.4rem;
      width: 97%;
    }
  }


}

.track-map {
  margin: $baseline*2 0 0 $baseline;
  padding-left: $baseline*4;

  img {
    max-width: 100%;
  }
}
