@import "styles/reset";
@import "styles/iconfont";
@import "styles/variables";
@import "styles/spacing";
@import "styles/typography";
@import "styles/buttons";
@import "styles/header";
@import "styles/track";
@import "styles/forms";
@import "styles/layout";
@import "styles/sessions";
@import "styles/homepage";

.listCircuits {
  li {
    border: 1px solid $colour-gray-300;
    border-radius: 2px;
    margin-bottom: $baseline/2;
    padding: $baseline/2;
    transition: 0.2s ease all;

    &:hover {
      background: #f3f4f5;
      cursor: pointer;

      a {
        text-decoration: underline;
      }
    }

    a {
      color: $colour-accent;
      text-decoration: none;
    }
  }
}


img {
  max-width: 100%;
  // max-height: 90vh;
  @media all and (orientation: landscape) and (max-width: 700px) {
    max-height: 85vh;
  }
  // margin-top: 90px;
}
