@import "styles/reset";
@import "styles/iconfont";
@import "styles/variables";
@import "styles/spacing";
@import "styles/typography";
@import "styles/buttons";
@import "styles/header";
@import "styles/track";
@import "styles/forms";
@import "styles/layout";
@import "styles/drawer";
@import "styles/sessions";
@import "styles/notes";

.listCircuits {
  li {
    background: $colour-gray-300;
    margin-bottom: $baseline/2;
    padding: $baseline/2;

    &:hover {
      color: #fff;
      background: $colour-accent;
      cursor: pointer;
    }
  }
}


img {
  max-width: 100%;
  // max-height: 90vh;
  @media all and (orientation: landscape) and (max-width: 700px) {
    max-height: 85vh;
  }
  // margin-top: 90px;

}
