// VERTICAL

.space-v-top { margin-top: $baseline; }
.space-v-top--large { margin-top: $baseline*3; }

.space-v-bottom { margin-bottom: $baseline; }
.space-v-bottom--large { margin-bottom: $baseline*3; }


// HORIZONTAL
