header {
  background: #333;
  padding: 0 $baseline;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  p,
  h1 {
    line-height: 33px;
    margin-bottom: 0;
    font-size: 1.6rem;
    color: white;
    .button-link,
    a {
      color: #fff;
      text-decoration: none;
      cursor: pointer;
    }
  }

  .header-userInfo {
    @media screen and (max-width: $screen-small) {
      font-size: 1.2rem;

      button {
        font-size: 1.2rem;
      }
    }
  }
}
