@use "variables";

// LAYOUT

#root {
  min-height: 100vh;
  background: linear-gradient(#fff, variables.$color-primary-100);
}

.wrapper {
  padding: variables.$baseline;
}

.not-loggged-in {
  // display: flex;
  // flex-direction: row;
  width: 96%;
  max-width: 450px;
  margin: variables.$baseline * 3 auto;
  border: 1px solid variables.$colour-gray-300;
  padding: variables.$baseline * 2;

  div {
    margin-bottom: variables.$baseline * 3;
  }

  .login-link {
    background: variables.$colour-gray-100;
    border-top: 1px solid variables.$colour-base;
    padding: variables.$baseline;
    text-align: center;
  }

  a {
    cursor: pointer;
  }
}
