// LAYOUT

.wrapper {
  padding: $baseline;

  &.homepage {
    margin: $baseline auto;
    // display: grid;
    // grid-template-columns: 1fr min-content;

    // @media screen and (max-width: $screen-mediumLarge) {
    //   flex-direction: column;
    // }

    .country-list {
      display: flex;
      flex-wrap: wrap;

      div {
        margin-right: $baseline;
      }
    }

    main {
      ul {
        width: 100%;
        min-width: 350px;

        @media screen and (max-width: $screen-medium) {
          min-width: 0;
        }
      }
    }

    aside {
      background: #f2f3f4;
      padding: $baseline;
    }
  }
}

.not-loggged-in {
  // display: flex;
  // flex-direction: row;
  width: 96%;
  max-width: 450px;
  margin: $baseline * 3 auto;
  border: 1px solid $core-color-grey-300;
  padding: $baseline * 2;

  div {
    margin-bottom: $baseline * 3;
  }

  .login-link {
    background: $core-color-grey-100;
    border-top: 1px solid $colour-base;
    padding: $baseline;
    text-align: center;
  }

  a {
    cursor: pointer;
  }
}
