@use "variables";

// VERTICAL

.mt1 {
  margin-top: variables.$baseline;
}
.mt2 {
  margin-top: variables.$baseline * 2;
}
.mt3 {
  margin-top: variables.$baseline * 3;
}

.mb1 {
  margin-bottom: variables.$baseline;
}
.mb2 {
  margin-bottom: variables.$baseline * 2;
}
.mb3 {
  margin-bottom: variables.$baseline * 3;
}

// HORIZONTAL
