// TYPOGRAPHY
body,
html {
  font-family: $fontstack;
  font-size: 62.5%;
  font-weight: 500;
  color: #111;
}

p,
li,
td {
  font-size: 1.4rem;
  line-height: 1.4;
}

p {
  margin-bottom: 1em;
}

li {
  margin-bottom: 0.5em;
}

h1 {
  font-size: 4.14rem;
  font-weight: bold;
  margin: 0 0 0.8em;
}

h2 {
  font-size: 3.2rem;
  margin: 1em 0 0.3em;
}

h3 {
  font-size: 2.2rem;
  margin: 1em 0 0.3em;
}

h4 {
  font-size: 1.6rem;
}

a {
  color: $color-primary-400;
  text-decoration: underline;
  transition: 0.2s ease all;

  &:hover {
    color: $color-primary-500;
  }
}
