// CONFIG
$fontstack: 'Manrope', helvetica, arial, sans-serif;

// spacing
$baseline: 16px;

// breakpoints

$screen-xsmall: 360px;
$screen-small: 450px;
$screen-medium: 700px;
$screen-mediumLarge: 900px;
$screen-almostLarge: 1020px;
$screen-large: 1140px;

$border-radius: 3px;

// Colors
$colour-base: #333;
$colour-accent: tomato;
$colour-gray-700: #838383;
$colour-gray-300: #c9c9c9;
$colour-gray-200: #e1e1e1;
$colour-gray-100: #f2f3f4;

$colour-blue-100: #f3f9fe;

/* PRIMARY: Lapis on Neptune */
$color-primary-100: #f6f2ff;
$color-primary-200: #cdbdfe;
$color-primary-300: #9b85f9;
$color-primary-400: #614dec;
$color-primary-500: #2519d1;
$color-primary-600: #0a08a6;
$color-primary-700: #02087c;
$color-primary-800: #000951;
$color-primary-900: #000626;

/* ACCENT: Green Wrasse */
$color-accent-100: #f2fff6;
$color-accent-200: #bbffcb;
$color-accent-300: #82fc98;
$color-accent-400: #49f55f;
$color-accent-500: #13e821;
$color-accent-600: #06b808;
$color-accent-700: #088701;
$color-accent-800: #095700;
$color-accent-900: #062600;

/* Neutral */
$color-neutral-100: #fafcfb;
$color-neutral-200: #e6ece8;
$color-neutral-300: #d3dbd4;
$color-neutral-400: #c0cbc1;
$color-neutral-500: #adbaae;
$color-neutral-600: #8a958a;
$color-neutral-700: #677067;
$color-neutral-800: #454b44;
$color-neutral-900: #232622;
